# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Test artifacts and reports
*.html
*.xml
test_document.pdf

# IDE / OS specific
.idea/
.vscode/
*.DS_Store
docker-compose.yml