# -------------------------------
# Service
# -------------------------------
apiVersion: v1
kind: Service
metadata:
  name: chatbot-service
  namespace: "2401023-chatbot"
spec:
  selector:
    app: chatbot
  ports:
    - protocol: TCP
      port: 8501
      targetPort: 8501
  type: ClusterIP
